body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background: linear-gradient(to bottom, #48556e, #293241);
  color: #000000;
}
.header {
  background: linear-gradient(to right, #fc575e, #f7b42c);
  text-align: center;
  padding: 40px 20px;
}
.header h1 {
  margin: 0;
  font-size: 3em;
  letter-spacing: 3px;
}
.header p {
  margin: 10px 0;
  font-size: 1.2em;
  opacity: 0.8;
}
.navbar {
  background-color: #0D2B86;
  display: flex;
  justify-content: center; /* Aligns items to each end */
  align-items: center;
  padding: 5px 30px;
 }

.navbar a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 20px;
  transition: 0.3s;
}

.navbar b {
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 20px;
  transition: 0.3s;
}

.navbar img {
  height: 80px; /* Set the height of the image */
  width: auto; /* Maintain aspect ratio */
}

#map {
  height: 100vh;
}
form {
  margin: 40px auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 60%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-label {
  display: block;
  margin-top: 20px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.1em;
}
input[type='text'] {
  width: calc(100% - 20px);
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  border-radius: 8px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
  ::placeholder {
      color: #ddd;
  }
}
button[type='submit'] {
  background: linear-gradient(to right, #fc575e, #f7b42c);
  color: #FFFFFF;
  padding: 20px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.3s;
}
button[type='submit']:hover {
  background: linear-gradient(to right, #f7b42c, #fc575e);
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #b2b2b2;
  border: 1px solid rgba(0,0,0,.125);
}