<!DOCTYPE html>

<html lang="en">
    <link href="/static/styles.css" rel="stylesheet">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://unpkg.com/maplibre-gl@3.x/dist/maplibre-gl.css" rel="stylesheet" />
        <style>
        body { margin: 0; }
        #map { height: 100vh; }
        </style>
    </head>

    <div class="header">
        <h1>Community Mapp</h1>
        <p>Jack, James, Avery, Dylan and DylanV2</p>
        <p>Jack, James, Avery, Dylan and no more DylanV2</p>
    </div>

    <div class="navbar">
        <a href="/">About the project</a>
        <a href="/live">Try it for yourself</a>
        <a href="/action">See it in action</a>
    </div>

    <body>
      
      <form>
        <div class='center'>
          <label for='text1'>Text</label>
          <input type='text' id='text1' placeholder='Field Text'/>
        </div>
        <div class='center'>
          <label for='textarea1'>Textarea</label>
          <textarea id='textarea1' placeholder='Field Textarea'></textarea>
        </div>
        <div class='center'>
          <label for='select1'>Select</label>
          <select id='select1' placeholder='Field Textarea'>
            <option value=''>Select</option>
            <option value='Select One'>Select One</option>
            <option value='Select Two'>Select Two</option>
            <option value='Select Three'>Select Three</option>
            <option value='Select Four'>Select Four</option>
          </select>
        </div>
        <div class='center'>
          <div class='checkbox_block'>
            <input type='checkbox' id='checkbox1'/>
            <label for='checkbox1'>Checkbox 1</label>
          </div>
          <div class='checkbox_block'>
            <input type='checkbox' id='checkbox2'/>
            <label for='checkbox2'>Checkbox 2</label>
          </div>
        </div>
        <div class = "center">
        <button type='submit'>Submit Form</button>
    </div>
      </form>

    </body>
</html>